{% extends "layout.html" %}
{% block content %}
<h1 style="margin-left: 50px; margin-right: 50px">This is About Me page</h1><br/>
<p style="margin-left: 50px; margin-right: 50px">I'm Ying Cao, a student of Cardiff University COMCS, my major is computing science and IT Management. This website is my python-flask coursework of Fundamental Programming and also a digital portfolio of myself.</p>
<p style="margin-left: 50px">More information, please click home about my self-introduction.</p>
{% endblock content %}