{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <p style="margin-left: 50px">{{ form.username.label }} {{ form.username }}</p>
  <p style="margin-left: 50px">{{ form.password.label }} {{ form.password }}</p>
  <p style="margin-left: 50px">Confirm {{ form.password.label }} {{ form.password }}</p>
  <p style="margin-left: 50px">{{ form.email.label }} {{ form.email }}</p>
  <p style="margin-left: 50px"><input type="submit" value="Register"></p>
</form>

{% for error in form.username.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}

{% endblock content %}
